
p, label {
	color: var(--text-dark);
    font-size: 16px;
    padding: 0;
    margin:0
}

form {
    margin-bottom: 30px;
    background: var(--bg-light);
  
}


label {
    display: inline-block;
    margin-top: 15px;
}

#radio-btn {
    margin-bottom: 15px;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}


div {
margin-bottom: 10px
}

h2 {
	margin: 0;
    font-size: 24px;
    padding: 10px;
    color: var(--text-dark);
    text-align: center;
}

h3 {
	color: var(--text-dark);
    margin: 0;
    padding: 10px;
    font-size: 22px;
    text-align: center;
}

.demo  {
	text-align: center;
	margin: auto 20px;
    background: var(--bg-dark);
	margin: 0;
    padding: 25px 60px;
    }

.inventory {
    display: flex;
    align-items: stretch;
    justify-content: center;
    /* align-content: center; */
}

/* .inventory > * {
    vertical-align: top;
} */

div .demo-element {
    border-style: double;
    background: var(--bg-light);
    border-width: 1px;
    padding: 15px;
    padding-bottom: 100px;
    display: inline-block;
    margin: 5px 15px;
    text-align: center;
    min-width: 300px;
    max-width: 300px;
    min-height: 350px;
   position: relative;
}

.edit-delete {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 10px;
}

#button, button {
    margin: 25px;
    padding: 5px;
    font-size: 18px;
}
