
footer {
	background: var(--bg-light);
	height: 50px;
	
}

footer p  {
	padding-top: 8px;
	text-align: center;
	color: var(--text-dark);
	
}

footer a {
	color: var(--text-dark);
	text-decoration: none;
}
