

div .signin {
	background: var(--bg-dark);
	margin: 0;
    text-align: center;
  height: 100%;
    
}


.signup img {
    padding: 20px;
}

button {
    margin: 25px;
    padding: 10px;
    font-size: 18px;
}


