* {
  box-sizing: border-box;
}

  html, body {
  scroll-behavior: smooth;
  background-color: var(--bg-light);
 
  }

  /* main{
  min-height:100vh;
} */

:root {
  --bg-dark: #03697f; /* navsbg, footerbg, minor text */
  --bg-light: #4a96a4; /* contrast */
  --pic-bright: #059185; /* tea pics */
  --text-bright: rgb(245, 208, 0); /* bright text */
  --text-light:  #ddcf31; /*  */
  --text-dark:#c2b633; /*  */ 
}

body {
	margin: 0;
	padding: 0;
	font-family: Tahoma;
}




div .parent {
    background-image: url(./components/img/teabg.jpg);
    background-size: cover;
    /* background-position: fixed; */
	margin: 0;
    text-align: center;
    vertical-align: middle;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center; 
    
}

div .child {
    width: 50%;
    display: inline-block;
    background: var(--bg-dark);
    border-radius: 15px;
    box-shadow: 5px 5px 3px var(--text-dark);
}


h2 {
	margin: 0;
    font-size: 24px;
    padding: 30px;
    color: var(--text-light);
    text-align: center;
}

label {
    display: block;
    padding-bottom: 5px;
    color: var(--text-dark);
    font-size: 16px;
}

input {
    margin-bottom: 10px;
}




button {
    margin: 25px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px
}





@media (min-width: 481px) and (max-width: 1024px) {

		
	.parent, .demoparent, .aboutparent {
		padding: 20px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.child, .demochild, .aboutchild {
		display: inline-block;
		margin: 5px;
		padding: 5px;
		width: 45%;
    }
    
    .parent .demoparent, .aboutparent{
		padding: 20px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.child .demochild, .aboutchild{
		display: inline-block;
		margin: 5px;
		padding: 5px;
		width: 45%;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	nav {
		margin-bottom: 70px;
	}
	nav ul {
		float: left;
		margin: 5px 0px;
	}
	nav li {
		margin: 10px 0;
		padding: 5px;
	}
	
	.child .demochild, .aboutchild {
		padding: 20px;
		flex-wrap: wrap;
		justify-content: center;
	}

	img {
		width: 150px;
		height: auto;
	}

	.child  .demochild, .aboutchild{
		display: inline-block;
		margin: 10px;
		padding: 20px;
		width: 60%;
		flex: 2;
	}

	 p {
		text-align: left;
		padding: 5px;
	}

	 	.header {
		height: 400px;
		margin: auto;
	}

	h2  {
		margin-left: 30px;
		padding-top: 30px;
	}

	p  {
		width: auto;
		margin: 30px;
	}
}
