* {
  box-sizing: border-box;
}

  html {
  scroll-behavior: smooth;
  background-color: var(--bg-light);
  }

:root {
  --bg-dark: #aaa; /* navsbg, footerbg, minor text */
  --bg-light:#ddd; /* contrast */
  --pic-bright: #059185; /* tea pics */
  --text-bright: rgb(245, 208, 0); /* bright text */
  --text-light: rgb(246, 246, 246); /* whitespace */
  --text-dark: #444; /* h1 main text */ 
}
body {
	margin: 0;
	padding: 0;
	font-family: Tahoma;
}


footer {
	background: var(--bg-dark);
	height: 50px;
}


nav {
    padding: 10px;
    background-color: var(--bg-dark);
}

nav ul {
	float: right;
    margin-right: 30px;
}


nav li a {
	color: var(--text-dark);
	text-decoration: none;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block
}


nav li a:hover {
  color: var(--text-light);
}


nav li a:focus {
  outline: none;
border-radius: 10px;
border: 2px solid var(--text-light)
}

li {
	display: inline;
	margin: 10px;
}
h2 {
	margin: 0;
    font-size: 24px;
    padding: 10px;
}

h3 {
	color: var(--text-dark);
    margin: 0;
    padding: 10px;
    font-size: 22px;
}



 a {
	color: var(--text-dark);
	text-decoration: none;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block
}


 a:hover {
  color: var(--text-light);
}


a:focus {
  outline: none;
border-radius: 10px;
border: 2px solid var(--text-light)
}


#header, #signup {
	background: var(--bg-light);
    padding: 10px;
}

#header h2, #signup h2 {
	padding: 30px;
    text-align: center;
    color: var(--text-dark);
}

#header p {
	width: 500px;
	margin: 30px;
}

#description {
	background: var(--bg-dark);
	display: flex;
	margin: 0;
	padding: 25px 40px;
	text-align: center;
}


#description img, #signup img {
    padding: 20px;
}


.description-element {
	background: var(--bg-light);
	text-align: center;
	margin: auto 20px;
	padding: 5px;
}



.signup-element, .signin-element, .demo-element, #signup, #signin, #demo-dash, #demo-form  {
	text-align: center;
	margin: auto 20px;
	padding: 10px;
}

p, label {
	color: var(--text-dark);
	font-size: 18px;
}

form {
    padding-bottom: 20px;
}

button {
    padding: 5px;
    margin: 5px

}


label {
    display: inline-block;
    margin-top: 20px;
}

footer {
    vertical-align: center;
    text-align: center
}



@media (min-width: 481px) and (max-width: 1024px) {
	
		
	#description {
		padding: 20px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.description-element {
		display: inline-block;
		margin: 5px;
		padding: 5px;
		width: 45%;
    }
    
    #signup {
		padding: 20px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.signup-element {
		display: inline-block;
		margin: 5px;
		padding: 5px;
		width: 45%;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	nav {
		margin-bottom: 70px;
	}
	nav ul {
		float: left;
		margin: 5px 0px;
	}
	nav li {
		margin: 10px 0;
		padding: 5px;
	}
	
	#description {
		padding: 20px;
		flex-wrap: wrap;
		justify-content: center;
	}
	#description img {
		width: 150px;
		height: auto;
	}
	.description-element {
		display: inline-block;
		margin: 10px;
		padding: 20px;
		width: 60%;
		flex: 2;
	}
	.description-element p {
		text-align: left;
		padding: 5px;
	}
	#signup, 	#header {
		height: 400px;
		margin: auto;
	}
	#header h2, #signup h2 {
		margin-left: 30px;
		padding-top: 30px;
	}
	#header p, 	#signup p {
		width: auto;
		margin: 30px;
	}
}
